body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 30px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007BFF;
}
